body {
  font-family: Arial, sans-serif;
  background-color: #012330;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #062907;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #c0bdbd;
}

form {
  margin-top: 20px;
}

input[type="file"] {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
